@font-face {
	font-family: 'electrolize';
	font-style: normal;
	font-weight: 400;
	src: local('electrolize'), url(electrolize.ttf) format('truetype');
}

body {
	font-family: 'PT Sans', 'Georgia', serif;
	font-size: 16px;
	background-color: #262626;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.topbar {
	background-color: #00600a;
	width: 100%;
	height: 10px;

	position:absolute;
	top: 0;
	left: 0;
}

.header {
	position: relative;

	height: 220px;
	margin-right: auto;
	margin-left: auto;
	width: 1100px;
}

.avatar {
	position: absolute;
	top: 0px;
	left: 0px;

	width: 256px;
	height: 256px;
	background:url(images/avatar.png) 0 0;
}

.blog_title {
	position: relative;
	top: 100px;
	text-align: center;
	margin-bottom: 50px;

	text-shadow: 2px 4px 1px rgba(0,0,0,0.3);
}

.blog_title a {
	color: white;
	text-decoration: none;
	font-family: 'electrolize';
	font-size: 37px;
}

.motto {
	color: #4D4D4D;
	font-family: 'electrolize';
	font-size: 19px;
	text-align: center;

	position:relative;
	top: 50px;
}

.motto a {
	color: #4D4D4D;
}

.article {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

.title {
	position: relative;
	height: 40px;
}

/* or #647912 ...*/

.sq1 {
	position: absolute;
	top: 0px;
	left: 20px;
	height: 20px;
	width: 800px;
	background-color: #00600a;
}

.sq2 {
	position: absolute;
	top: 20px;
	left: 0px;
	height: 20px;
	width: 800px;
	background-color: #00600a;
}

.tr1 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0; 
	height: 0; 

	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #00600a;

}

.tr2 {
	position: absolute;
	top: 20px;
	left: 780px;
	width: 0;
	height: 0;

	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #00600a;
}


.speech_bubble {
	position: absolute;
	width:190px;
	height:40px;
	margin:0px 200px 200px;
	text-align:center;
	background:#00600a;
}

.speech_bubble:before {
	content:"";
	position:absolute;
	bottom:-70px;
	left:-80px;
	border-width:0 0 70px 140px;
	border-style:solid;
	border-color:transparent #00600a;
}

/* creates the larger triangle */
.speech_bubble:after {
	content:"";
	position:absolute;
	top:40px;
	left:-80px; 
	border-width:0 0 86px 81px;
	border-style:solid;
	border-color:transparent #262626;
}

.icons {
	position: absolute;
	top: 0;
	left: 220px;
}

.twitter {
	position: relative;
	top: -5px;
	left: -5px;

	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	transform: rotate(-20deg);
}

.twitter:hover {
	-webkit-transform: rotate(-25deg);
	-moz-transform: rotate(-25deg);
	transform: rotate(-25deg);
}

.facebook {
	position: relative;
	top: -12px;
	left: 10px;

	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	transform: rotate(10deg);
}

.facebook:hover {
	-webkit-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
	transform: rotate(15deg);
}

.github {
	position: relative;
	top: -5px;
	left: 30px;
	width: 35px;

	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}

.github:hover {
	-webkit-transform: rotate(65deg);
	-moz-transform: rotate(65deg);
	transform: rotate(65deg);
}

.title .link {
	position: absolute;
	top: 9px;
	left: 35px;
	width: 100%;
}

.title a {
	font-family: 'electrolize';
	font-size: 20px;

	color: white;
}

.title a:hover {
	text-decoration: underline;
}

.metadata {
	font-family: 'electrolize';

	background-color: #999999;
	padding: 10px;
	width: 780px;
}

.metadata {
	position: relative;
}

.metadata #cont {
	position: absolute;
	top: 10px;
	left: 70px;
}

.metadata #cont span {
	margin: 20px;
}

.body {
	padding: 10px;
	background-color: #CCCCCC;
	width: 780px;
	
	margin-bottom: 50px;
}

.footer {
	margin-top: 50px;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
	width: 200px;
}

.footer a {
	color: #a5a5a5;
	text-decoration: none;
}

.next_page, .footer {
	text-align: center;
}
